@import "./variables";

$theme-colors: (
  "primary": $primary,
  "danger": $red,
  "warning": orange,
  "success": green
);

@import "~bootstrap/scss/bootstrap";

.btn-primary {
  color: $white;
  &:hover {
    color: $white;
    background-color: darken($primary, 10);
  }
}

.btn-danger {
  &:hover {
    color: $white;
    background-color: darken($red, 10);
  }
}

html, body, #root {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.btnRound {
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  color: $white;
  width: 200px;
}

.inputRound {
  border-radius: 10rem;
  height: 38px;
}

.selectRound {
  border-radius: 10rem;
  height: 38px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.bg-info {
  background-color: #00d9d9;
}

.bg-secondary {
  background-color: $gray;
}

.nav-item {
  .active {
    opacity: 1;
  }
}

.alert-sucess {
  background-color: #99e999;
}