@import "./variables";

$theme-colors: (
  "primary": $primary,
  "danger": $red
);

@import "~bootstrap/scss/bootstrap";

.btn-primary {
  color: $white;
  &:hover {
    color: $white;
    background-color: darken($primary, 10);
  }
}

html, body, #root {
  height: 100%;
}