@import "./variables";

$theme-colors: (
  "primary": $primary,
  "danger": $red
);

@import "~bootstrap/scss/bootstrap";

.btn-primary {
  color: $white;
  &:hover {
    color: $white;
    background-color: darken($primary, 10);
  }
}

.btn-danger {
  &:hover {
    color: $white;
    background-color: darken($red, 10);
  }
}

html, body, #root {
  height: 100%;
}

.btnRound {
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  color: $white;
  width: 200px;
}

.inputRound {
  border-radius: 10rem;
  padding: 1.5rem 1rem;
  height: calc(1.5em + 0.75rem + 2px);
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}