$primary: #4e73df;
$text: #5a5c69;
$gray: #d1d3e2;
$light-gray: #f8f9fc;
$dark-gray: #888888;
$red: #e74a3b;
$gradient: linear-gradient(180deg, $primary 10%,#224abe 100%);
$shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
$header-height: 70px;

$mobile: 900px;