@import "@assets/css/variables.scss";

.taskListItem {
  position: relative;
  border: 1px solid $gray;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    .title {
      color: $primary;
    }
  }
}

.taskInfo {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border-radius: 0.25rem;
  overflow: hidden;
  .deadline {
    background: #ffd383;
    font-size: 0.75rem;
    padding: 2px 4px;
  }
  .status {
    border-radius: 0;
  }
}