@import "@assets/css/variables.scss";

.headerWrapper {
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
}

.header {
  padding: 0.5rem 1rem;
  height: $header-height;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 !important;
  }
  .navbarToggler {
    height: 2.5rem;
    width: 2.5rem;
    @media (max-width: 768px) {
      padding: 0;
      width: 22px;
      margin-right: 15px;
      svg {
        width: 22px;
        height: auto;
      }
    }
  }
  .searchCol {
    @media (max-width: 768px) {
      width: 175px;
    }
  }
  .userCol {
    @media (max-width: 768px) {
      width: 175px;
    }
  }
}

.searchBar {
  display: flex;
  width: 25rem;
  @media (max-width: 768px) {
    width: 175px;
  }
  input {
    background-color: $light-gray;
  }
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

button.icon {
  position: relative;
  background-color: transparent !important;
  border: none;
  margin: 0 0.75rem;
  padding: 0;
  width: 2.25em;
  &:hover {
    border: none;
  }
  &:after {
    display: none;
  }
  svg {
    fill: $gray;
  }
  .counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: -3px;
    margin-top: -0.25rem;
  }
}

.userInfo {
  background-color: transparent !important;
  border: none !important;
  &:after {
    display: none !important;
  }
  span {
    color: $text;
    margin-right: 0.5rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
  img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid $gray;
  }
}

.userNav {
  margin-top: 15px;
  border-color: $light-gray;
  hr {
    background-color: $gray;
  }
  svg {
    fill: $gray;
    margin-right: 15px;
  }
}